body, html
	font-family 'Indie Flower', cursive
	font-size 1.2em
	color #444

.gg
	width 850px
	height 400px
	margin auto
	display grid
	grid-template-columns auto auto auto 
	grid-template-rows auto auto
	grid-template-areas "pic1 pic2 pic3" "pic1 pic4 pic3"
	grid-gap 10px
	.pic
		width 100%
		min-height 100%
		background-image url(https://s3.amazonaws.com/dressapp.images/products/2017/11/28/id-26-1511842968883.jpg)
		background-repeat no-repeat
		background-size cover
		background-position 50% 50%


.pic1
	grid-area pic1

.pic2
	grid-area pic2

.pic3
	grid-area pic3

.pic4
	grid-area pic4