@import './colors'

label 
    margin-bottom 0

.k-button
    padding 12px 20px
    text-align center
    color k-soft-dark
    background-color k-soft-white
    border none
    font-size 14px
    font-weight 400
    cursor pointer
    display inline-block
    margin-right 5px
    b-radius(3px)
    &.k-button-green
        background-color k-green
        color #fff